ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#CCC;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 10px 10px 0 0;
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    border: 1px solid #CCC;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}
        
ul.tabs li.selected a
{
    /*selected tab style */
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border: 1px solid #CCC;
    border-bottom-color: #CCC;
}
        
        
ul.tabs li.selected a:hover
{
    /*selected tab style */
    text-decoration: none;
}
        
div.tabcontent
{
	display: block;
}

div.tabcontents
{
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}


ul.kranten
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.kranten li
{
    display: inline;
    margin: 0;
    margin-right:2px; /*distance between tabs*/
}
        
ul.kranten li a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	position: relative;
	z-index: 1;
	border: 1px solid #CCC;
	border-bottom-color: #CCC;
	color: #000;
	background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
	border-radius: 10px 10px 0 0;
	outline: none;
	padding-top: 7px;
	padding-right: 12px;
	padding-bottom: 7px;
	padding-left: 12px;
}
        
ul.kranten li a:visited
{
    color: #000;
}
        
ul.kranten li a:hover
{
    border: 1px solid #CCC;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}
        
ul.kranten li.selected a
{
    /*selected tab style */
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border: 1px solid #CCC;
    border-bottom-color: #CCC;
}
        
        
ul.kranten li.selected a:hover
{
    /*selected tab style */
    text-decoration: none;
}
        
div.krantinhoud
{
    display: block;
}

div.krantinhoudbis
{
	border: 0px solid #B7B7B7;
	background-color: #FFF;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;    /* border-radius: 0 2px 2px 2px; */
}


ul.commentaar
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: right; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.commentaar li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.commentaar li a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#CCC;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 10px 10px 0 0;
    outline:none;
}
        
ul.commentaar li a:visited
{
    color: #000;
}
        
ul.commentaar li a:hover
{
    border: 1px solid #CCC;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}
        
ul.commentaar li.selected a
{
    /*selected tab style */
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border: 1px solid #CCC;
    border-bottom-color: #CCC;
}
        
        
ul.commentaar li.selected a:hover
{
    /*selected tab style */
    text-decoration: none;
}
        
div.commentaarinhoud
{
    display: block;
}

div.commentareninhoud
{
	border: 0px solid #B7B7B7;
	background-color: #FFF;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;    /* border-radius: 0 2px 2px 2px; */
}


ul.reacties
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.reacties li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.reacties li a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#CCC;
    color: #FFF;
    background: #666;
    border-radius: 5px 5px 0 0;
    outline:none;
}
        
ul.reacties li a:visited
{
    color: #FFF;
}
        
ul.reacties li a:hover
{
    border: 1px solid #CCC;
    background:#333;
}
        
ul.reacties li.selected a
{
    /*selected tab style */
    position: relative;
    top: 0px;
    font-weight:bold;
    background: #666;
    border: 1px solid #CCC;
    border-bottom-color: #CCC;
}
        
        
ul.reacties li.selected a:hover
{
    /*selected tab style */
    text-decoration: none;
}
        
div.reactiesinhoud
{
    display: block;
}

div.reageerinhoud
{
	border: 0px solid #B7B7B7;
	background-color: #FFF;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;    /* border-radius: 0 2px 2px 2px; */
}
